
<td class="employee_id">
  <%= employee.escape('id') %>
</td>
<td class="birth_date">
  <%= employee.escape('birth_date') %>
</td>
<td class="first_name">
  <%= employee.escape('first_name') %>
</td>
<td class="last_name">
  <%= employee.escape('last_name') %>
</td>
<td class="gender">
  <%= employee.escape('gender') %>
</td>
<td class="hire_date">
  <%= employee.escape('hire_date') %>
</td>
